



<div class="landingPage">
    <img src="~/images/assets/undraw_web_shopping_dd4l.png" />
    <div class="landingPage_form">
        <form asp-controller="home" asp-action="SearchProduct" method="get">
            <h2>Shoppy Online Store</h2>
            <input type="text" name="search" value="" placeholder="what you searching for?" />
            <button type="submit">Search</button>
        </form>
    </div>
</div>