


<div class="shipping_payment">
    <div class="shipping_payment_div">
        <i class='fas fa-shipping-fast'></i>
        <h3>Free Shipping</h3>
        <p>Free shipping on all Local Area order above $100 </p>
    </div>
    <div class="shipping_payment_div">
        <i class="material-icons">refresh</i>
        <h3>30 Days Return</h3>
        <p>Product any fault within 30 days for an exchange.</p>
    </div>
    <div class="shipping_payment_div">
        <i class="material-icons">payment</i>
        <h3>Payment Secure</h3>
        <p>We ensure 100% secure payment with SecurionPay</p>
    </div>
</div>