@model ViewCartModelView


@{ 
    ViewBag.title = "Cart | Shoopy";
}


<div class="viewCart_section" id="viewCart">
    @(await Component.InvokeAsync("Cart"))
</div>

@section scripts{ 
<script>
    function deleteItem(pid, uid) {
        $.ajax({
            type: "GET",
            url: "/shoppingCart/DeleteItem",
            data: { "pid": pid, "uid": uid},
            success: function (response) {
                if (response.result == "Success") {
                    alert("ok");
                    $("#viewCart").load('/shoppingCart/updateViewCart');
                } else if (response.result == "Faild") {
                    alert("Not");
                }
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        });
    }
</script>
}